//Tipografia
$fuente_principal: 'Bebas Neue', cursive;

//colores
$color1: #7E49F2;
$color2: #3F2140;
$color3: #262473;
$color4: #222A59;
$color5: #0D0D0D;

//Tamaños
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;